

.illustrations {
    display: flex;
    width: 100%;
    .description {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .back {
            opacity: 0.6;
            position: absolute;
            left: 0;
            width: fit-content;
            height: auto;
        }
        .text {
            position: absolute;
            font-size: 40px;
            font-weight: bold;
            display: flex;
            flex-direction: column;
            align-items: center;
            animation: move 10s infinite;
            color: white;
        }
    }
    .inline-gallery-container {
        width: 60%;
        height: 90vh;
    }
}

::ng-deep .lg-outer .lg-thumb-item img  {
 object-fit: contain !important;
}

::ng-deep .lg-toolbar .lg-icon {
margin-top: 10px;
}
@media (max-width: 1000px) {
    .description {
        display: none !important;
    }
    .inline-gallery-container {
        width: 100% !important;
    }
}
@keyframes move {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);

    }
    100% {
        transform: translateY(-20px);
    }
}