

.illustrations {
    display: flex;
    width: 100%;
    .inline-gallery-container {
        width: 100%;
        height: 106vh;
        margin-top: -50px;
    }
}

::ng-deep .lg-outer .lg-thumb-item.active {
    border-color: #ff8400 !important;
}

::ng-deep  .lg-outer .lg-thumb-item:hover {
    border-color: #ff8400 !important;
}

::ng-deep .lg-outer .lg-thumb-item img  {
 object-fit: contain !important;
}

::ng-deep .lg-toolbar {
        margin-top: 55px;
        .lg-zoom-in, .lg-zoom-out {
            left: 49%;
            position: fixed;
            width: 32px;
            height: 30px;
            color: white;
            background-color: #00000061;
            line-height: 13px;
        }
        .lg-icon:hover{
            color: #ff8400;
            background-color: #000000ad;
        }
}
