<app-preloader [images]="preLoadImages"></app-preloader>

<div class="illustrations">
  <div id="inline-gallery-container" class="inline-gallery-container fj-gallery" id="justifiedgallery">
    <div class="fj-gallery-item" *ngFor="let img of images;let i = index">
      <pinch-zoom [wheel]=false disableZoomControl="never">
        <img class="gallery-item" [src]="img.src" />
        <span class="open" (click)="open(i)" matTooltip="View"><mat-icon>open_in_new</mat-icon></span>
      </pinch-zoom>
    </div>
  </div>
</div>
