<app-preloader [images]="preLoadImages"></app-preloader>

<div [@slide]="animationStart" class="about">
<div class="image">
<img src="assets/images/about/arnab.png" />
</div>
<div class="aboutText">
  <div class="text">
    <h1>
      {{dataService.getProfile().name}}
    </h1>
    <p *ngFor="let para of dataService.getAboutText()">
      {{para}}
    </p>
  </div>
  <div class="socialLinks">
    <div class="iconCont">
      <div class="email">
        <span>{{dataService.getEmail()}}</span>
      </div>
      <div class="links">
        <a matTooltip="Linkedin Profile" [href]="dataService.getLink('li')" target="_blank" class="li">
          <img src="assets/images/about/li.png" />
        </a>
        <a matTooltip="Facebook Profile" [href]="dataService.getLink('fb')" target="_blank" class="fb">
          <img src="assets/images/about/fb.png" />
        </a>
        <a matTooltip="ArtStation Profile" [href]="dataService.getLink('as')" target="_blank" class="as">
          <img src="assets/images/about/as.png" />
        </a>
      </div>
    </div>
  </div>
</div>
</div>