<div class="misc">
  <div class="header">
    <mat-icon class="left" *ngIf="categories.length > 1" (click)="prev()">keyboard_arrow_left</mat-icon>
    <span [@fade]="animationStart" class="name">{{ currentCategory }}</span>
    <mat-icon class="right" *ngIf="categories.length > 1" (click)="next()">keyboard_arrow_right</mat-icon>
  </div>

  <div [@slide]="animationStart" class="content">
    <ng-container *ngFor="let project of currentProjects">
      <span class="projectHeader">{{ project.name }}</span>
      <ng-container *ngFor="let image of project.images">
       <img [src]="image.path" />
      </ng-container>
      <mat-divider></mat-divider>
    </ng-container>
  </div>
</div>