<div class="gallery" [photoGalleryGroup]="{ arrowEl: true, indexIndicatorSep: ' - ' }">
  <div class="gallery-item">
    <div class="gallery-item-name">{{ product1.name }}</div>
    <div class="gallery-item-image" [photoGallery]="product1.image.originUrl">
      <img [src]="product1.image.thumbnailUrl" />
    </div>
  </div>
  <div class="gallery-item">
    <div class="gallery-item-name">{{ product2.name }}</div>
    <div class="gallery-item-image" [photoGallery]="product2.image.originUrl">
      <img [src]="product2.image.thumbnailUrl" />
    </div>
  </div>
</div>