  <!-- Header -->
  <header id="header" class="sticky-top-slide"> 
    <!-- Navbar -->
    <nav class="primary-menu navbar navbar-expand-lg navbar-overlay-dark bg-transparent text-uppercase navbar-line-under-text fw-600">
      <div class="container position-relative">
        <div class="col-auto col-lg-3 d-inline-flex ps-lg-0"> 
          <!-- Logo --> 
          <a class="logo" href="index.html" title="Callum"> 
            <span class="name">ARNAB DE</span>
            <span class="role">Game Art & Animation Director</span>
          </a> 
          <!-- Logo End --> 
        </div>
        <div class="col col-lg-7 navbar-accordion px-0">
          <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#header-nav"><span></span><span></span><span></span></button>
          <div id="header-nav" class="collapse navbar-collapse justify-content-center">
            <ul class="navbar-nav">
			  <li class="nav-item"><a class="nav-link smooth-scroll active" href="#home">Home</a></li>
              <li class="nav-item"><a class="nav-link smooth-scroll" href="#about">Concept Arts / Illustrations</a></li>
              <li class="nav-item"><a class="nav-link smooth-scroll" href="#services">Game Arts</a></li>
              <li class="nav-item"><a class="nav-link smooth-scroll" href="#resume">Animations</a></li>
              <li class="nav-item"><a class="nav-link smooth-scroll" href="#portfolio">Miscellaneous</a></li>
              <li class="nav-item"><a class="nav-link smooth-scroll" href="#faq">About</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <!-- Navbar End --> 
  </header>
  <!-- Header End -->