::ng-deep .carousel-cell {
    height: 104% !important;
    clip-path: polygon(0 0, 65% 0, 100% 100%, 35% 100%);
    img {
        object-position: 0px -45px;
    }
}  

@media (max-width: 500px) {
    ::ng-deep .carousel-cell {
        margin-left: -100px;
    } 
}
