.bg-container {
    width: 100%;
}

.bg {
    background: black;
}

#home {
    margin-top: -85px;
}

.copyright {
    width: 100%;
    height: 30px;
    background: black;
    display: flex;
    color: #B3B3B3;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}