<app-preloader [images]="preloadImages"></app-preloader>

<div class="games">
  <div class="header">
    <mat-icon class="left" *ngIf="total > 1" (click)="prev()">keyboard_arrow_left</mat-icon>
    <span [@fade]="animationStart" class="name">{{current?.name}}</span>
    <mat-icon class="right" *ngIf="total > 1" (click)="next()">keyboard_arrow_right</mat-icon>
  </div>
  <div [@slide]="animationStart" class="content">
    <ng-container *ngFor="let game of current?.images; let i = index">
      <a *ngIf="!game.name.includes('http')" (click)="open(i)">
        <img src="{{game.path}}" />
      </a>
      <iframe *ngIf="game.name.includes('http')" class="video" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen [src]="game.name | safe">
      </iframe>
    </ng-container>
  </div>
</div>

<div class="down-sign" *ngIf="showScrollHelper">
  <span>Scroll Down for more</span>
  <mat-icon>arrow_downward</mat-icon>
</div>