.games {
    display: flex;
    flex-direction: column;
    .header {
        width: 100%;
        display: flex;
        position: fixed;
        top: 0;
        justify-content: space-around;
        height: 70px;
        align-items: center;
        background: black;
        .name {
            font-size: 20px;
            color: #B3B3B3;
            margin: 20px 0px;
        }    
        mat-icon {
            height: 45px;
            width: 45px;
            font-size: 50px;
            color: #B3B3B3;
        }
        mat-icon:hover {
            color: #ff8400;
        }
        .left {
            cursor: pointer;
        }
        .right {
            cursor: pointer;
            margin-right: 20px;
        }
    }

    .content {
        margin-top: 65px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        a {
            width: inherit;
        }
        img {
            width: -webkit-fill-available;
            margin-bottom: 30px;
            object-fit: contain;
            max-height: 100vh;
        }
    }
}

.controls {
    position: fixed;
    color: white;
    top: 50%;
    display: flex;
    width: 100%;
    justify-content: space-between;
    mat-icon {
        font-size: 50px;
    }
    .left {
        cursor: pointer;
    }
    .right {
        cursor: pointer;
        margin-right: 20px;
    }
}

::ng-deep .menu {
    mat-icon {
        top: 20px !important;
    }
}

.video {
    height: 80vh;
    width: 80%;
    margin-bottom: 25px;
}

.down-sign {
    position: fixed;
    right: 2%;
    bottom: 25px;
    color: white;
    display: flex;
    align-items: center;
    font-weight: bold;
    mat-icon {
        font-size: x-large;
    }
    animation: down 3s linear infinite;
}


@keyframes down {
    0% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0);

    }
}