<div class="formcontainer">
  <form class="example-form" (submit)="submit()">
    <mat-form-field appearance="outline">
      <mat-label>Enter Password</mat-label>
      <input matInput placeholder="Enter Password" type="password" (keypress)="hideError()" [(ngModel)]="pass" [ngModelOptions]="{standalone: true}">
      <mat-icon matSuffix>lock</mat-icon>
    </mat-form-field>
  </form>
  <span *ngIf="showError" class="error">Wrong Password</span>
  <button mat-raised-button color="primary" (click)="submit()">Submit</button>
</div>