.menu {
    cursor: pointer;
    display: flex;
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    right: 30px;
    z-index: 9999999;
    height: 32px;
    width: 32px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    top: 15px;
    mat-icon {
        z-index: 999999;
        color: #B3B3B3;
        font-size: 24px;
    }

    .close {
        padding-top: 25px !important;
    }
}

@media screen and (min-width: 1000px) {
    .menu {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    .menu {
        top: 8px;
        right: 10px;
    }
}