
  <!-- Preloader -->
  <div class="preloader">
    <div class="lds-ellipsis">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <!-- Preloader End --> 
  
  <!-- Document Wrapper   
  =============================== -->
  <div id="main-wrapper"> 
    
    <!-- Header -->
    <app-header></app-header>
    <!-- Header End --> 
    
    <!-- Content
    ============================================= -->
    <div id="content" role="main"> 
      <!-- Intro
      ============================================= -->
        <app-intro></app-intro>
      <!-- Intro end -->
    
      <!-- About
      ============================================= -->
        <app-about></app-about>
      <!-- About end --> 
      
      <!-- Services
      ============================================= -->
        <app-services></app-services>
      <!-- Services end --> 
      
      <!-- Resume
      ============================================= -->
        <app-resume></app-resume>
      <!-- Resume end --> 
      
      <!-- Portfolio
      ============================================= -->
        <app-portfolio></app-portfolio>
      <!-- Portfolio end --> 
      
      <!-- Call to Action
      ============================================= -->
        <app-hire-me></app-hire-me>
      <!-- Call to Action end --> 
      
      <!-- FAQ
      ============================================= -->
        <app-faq></app-faq>
      <!-- FAQ end --> 
      
      <!-- Testimonial
      ============================================= -->
        <app-testimonial></app-testimonial>
      <!-- Testimonial end --> 
      
      <!-- Contact Me
      ============================================= -->
        <app-contact-me></app-contact-me>
      <!-- Contact Me end --> 
      
    </div>
    <!-- Content end --> 
    
    <!-- Footer
    ============================================= -->
        <app-footer></app-footer>
    <!-- Footer end --> 
    
  </div>
  <!-- Document Wrapper end --> 
  
  <div class="copyright">
    <span>© 2022 Arnab De</span>
  </div>

  <!-- Back to Top
  ============================================= --> 
  <a id="back-to-top" class="rounded-circle" data-bs-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fas fa-arrow-up"></i></a> 
  