.container {
    width: 100%;
    display: flex;
    height: 100vh;
    justify-content: center;
    background-color: black;
    .content {
        max-width: 100%;
        margin: auto;
        img {
            width: -webkit-fill-available;
        }
    }
}

@media screen and (max-width: 1000px) {
   .action.prev {
    left: 0px !important;
    }
    .action.next {
        right: 0px !important;
    }
}

.action {
    position: fixed;
    top: 50%;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.6);
    mat-icon {
        height: 50px;
        width: 50px;
        font-size: 50px;
        color: #B3B3B3;
    }
}

.action.prev {
    left: 30px;
}
.action.next {
    right: 30px;
}

.close {
    position: fixed;
    top: 15px;
    left: 15px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.6);
    mat-icon {
        height: 40px;
        width: 40px;
        font-size: 40px;
        color: #B3B3B3;
    }
}

.close:hover {
    mat-icon {
        color: #ff8400;
    }
} 

.action:hover {
    mat-icon {
        color: #ff8400;
    }
}


