/* You can add global styles to this file, and also import other style files */
@import '~lightgallery/scss/lightgallery';
@import '~lightgallery/scss/lg-zoom';
@import '~lightgallery/scss/lg-thumbnail';


html, body {
    margin: 0;
    padding: 0;
    background: black;
    height: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.rel {
    position: relative !important;
}

app-illustrations {
    overflow: auto;
}

.lg-icon {
    height: 48px;
    width: 48px;
    padding: 0;
}

@media screen and (max-width: 1000px) {
    .lg-icon {
        height: 32px;
        width: 32px;
        padding: 0;
    }
    .lg-prev::after {
        font-size: xx-large !important;
    }
    .lg-next::before {
        font-size: xx-large !important;
    }
}

.lg-next {
    right: 5px;
}

.lg-prev {
    left: 5px;
}

.lg-prev::after {
    content: '\e314';
    font-family: 'Material Icons';
    font-size: xxx-large;
}

.lg-next::before {
    content: '\e315';
    font-family: 'Material Icons';
    font-size: xxx-large;
}

.pz-zoom-button.pz-zoom-control-position-bottom {
    top: 5px;
    right: 5%;
    margin-left: -28px;
}

.pz-zoom-button {
    height: 30px !important;
    width: 30px !important;
    background-size: 25px !important;
}

.full-screen-modal {
    max-width: unset !important;
    width: 100%;
    height: 100%;
    .mat-dialog-container {
      max-width: 100vw;
      max-height: 100vh;
      height: 100%;
      width: 100%;
      padding: 0%;
      background-color: black;
      .mat-dialog-content {
        max-height: unset !important;
      }
    }
  }